# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# DVC
.dvc/cache/

# Virtual environments
venv/
.env

# Model files
*.pkl
*.joblib
*.pt
*.pth

# OS files
.DS_Store
mlflow.db
feature_repo/feature_repo/data/*.db
