# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Virtual Environments
# -------------------------
.venv/
venv/
env/
ENV/

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Feast
# -------------------------
feature_repo/feature_repo/.ipynb_checkpoints/

# -------------------------
# Logs
# -------------------------
*.log
